*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: linear-gradient(to bottom, #9795f0 0%, #fbc8d4 45%,#fbc8d4 55%, #9795f0 100%);
    overflow: hidden;
}

.container{
    width: 100%;
    height: 100%;
    position: relative;
}
.container::before ,
.container::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.container::after{
    background-image:
    /* Left hill (radial gradient, black to transparent)  */
    radial-gradient(ellipse at 0% 100%,#0b0b31 50%,transparent 50.5%),
    /* right hill */
    radial-gradient(ellipse at 100% 100%,#0b0b31 50%,transparent 50.5%),
    /* Rainbow (seven colors of radial gradient rainbow + hollow base color of center) */
    radial-gradient(circle at 50% 100%,#f5c4d1aa 30%,#845FA7AA 30.5%,
    #845FA7AA 35%,#5461ACAA 35.5%,#5461ACAA 40%,#64CDF3AA 40.5%,
    #64CDF3AA 45%,#91C83DAA 45.5%,#91C83DAA 50%,#FAF04FAA 50.5%,
    #FAF04FAA 55%,#FAAE51AA 55.5%,#FAAE51AA 60%,#DF4348AA 60.5%,
    #DF4348AA 65%,transparent 65.5%);
      /* no flat*/
    background-repeat: no-repeat;
    /* Specify the size of three backgrounds (left hill, right hill, rainbow) */
    background-size: 75% 86px,75% 86px,416px 208px;
    background-position: 0% 50%,100% 50%,50% 40%;
}

.container::before{
    background-image: 
      /* Left hill (radial gradient, black to transparent)  */
      radial-gradient(ellipse at 0% 0%,#0b0b31 50%,transparent 50.5%),
      /* right hill */
      radial-gradient(ellipse at 100% 0%,#0b0b31 50%,transparent 50.5%),
      /* Rainbow (seven colors of radial gradient rainbow + hollow base color of center) */
      radial-gradient(circle at 50% 0%,#f5c4d1aa 30%,#845FA7AA 30.5%,
      #845FA7AA 35%,#5461ACAA 35.5%,#5461ACAA 40%,#64CDF3AA 40.5%,
      #64CDF3AA 45%,#91C83DAA 45.5%,#91C83DAA 50%,#FAF04FAA 50.5%,
      #FAF04FAA 55%,#FAAE51AA 55.5%,#FAAE51AA 60%,#DF4348AA 60.5%,
      #DF4348AA 65%,transparent 65.5%);
      /* no flat*/
      background-repeat: no-repeat;
      /* Specify the size of three backgrounds (left hill, right hill, rainbow) */
      background-size: 85% 86px, 85% 86px, 400px 200px;
      background-position: 0% 57%, 100% 57%, 50% 65%;
      filter: blur(13px);
      transform: scale(1.05, 1.2);

}